.container {
  font-family: "Poppins";
  padding: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-inline: 2rem;
}


.mainContainer_right img {
  width: 100%;  
  max-width: 300px;
  height: auto; 
  border-radius: 20px; 
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); 
}

.mainContainer_left  {
 flex: 0.5;
}

.mainContainer_right {
  flex: 0.5;
}

.mainContainer_left > p:nth-child(1) {
  font-size: 2.9rem;
}

.mainContainer_left > p:nth-child(2) {
  font-size: 1.7rem;
}

.mainContainer_left > div.buttonJoin { 
  width: fit-content;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s;
  margin-top: 0.8rem;
  font-size: 1.4rem;
  background: rgb(36, 107, 230);
  color: white;
  padding-inline: 1.2rem;
  padding-block: 0.6rem;
  border-radius: 20px;
}

@media screen and (max-width: 600px) {
  .mainContainer{
    flex-direction: column;
    gap: 2rem;
    padding-top: 1.3rem;
  }

  .mainContainer_left{
    flex: 1;
    padding-top: 1.5rem;
  }

 .mainContainer_right{
  flex: 1;
 }

  .mainContainer_right img{
   width: 100%;
  }
  
}