.allUserProfile{
    max-width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}


.userCard{
    display: flex;
    gap: 1.2rem;
    cursor: pointer;
    padding: 1.3rem;
    align-items: center;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.userCard_image{
    width: 10%;
    border-radius: 50%;
}